<ion-view view-title="プラン一覧">
  <ion-content>
    <ion-list ng-if="plannerId != 0">
      <ion-item ng-repeat="plan in planlists" href="#/app/planlists/{{plan.id}}">
        <div class="listColumn listIndexColumn">{{$index+1}}</div>
        <div class="listColumn">
          <h2>{{plan.title}}<h2>
          <p ng-if="plan.start">{{plan.start|format4yyyymd}}<span ng-if="plan.end">&nbsp;から&nbsp;{{plan.end|format4md}}</span></p>
        </div>
      </ion-item>
      <ion-item>
        <button class="button button-block button-positive" ng-click="openPlanAdd()">追加</button>
      </ion-item>
    </ion-list>
    <div ng-if="plannerId == 0"> ↑↑↑ まずはここを押してログインしよう！</div>
  </ion-content>
</ion-view>