<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">プラン追加</h1>
    <div class="buttons">
      <button class="button" ng-click="closePlanAdd()">戻る</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitPlanAdd()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">プラン名</span>
          <input type="text" ng-model="plan.add.title">
        </label>
        <label class="item item-input">
          <span class="input-label">開催開始日</span>
          <input type="date" ng-model="plan.add.start">
        </label>
        <label class="item item-input">
          <span class="input-label">開催終了日</span>
          <input type="date" ng-model="plan.add.end">
        </label>
        <label class="item item-input">
          <span class="input-label">参加メンバー</span>
          <ion-list>
            <div ng-repeat="member in plan.add.memberList">
              <input ng-show=false type="checkbox" id="member_{{member.id}}" ng-model="member.checked" />

              <select ng-model="user.select1" ng-options="jojo for jojo in ['jonasun','joseph','jotaro']"></select>
              <label ng-show="! member.checked" for="member_{{member.id}}" class="member_list big">□&nbsp;{{member.name}}</label>
              <label ng-show="  member.checked" for="member_{{member.id}}" class="member_list big">■&nbsp;{{member.name}}</label>
            </div>
          </ion-list>
        </label>
        <label class="item item-input">
          <span class="input-label">詳細説明</span>
          <input type="textarea" ng-model="plan.add.summary">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">決定</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
