/* Empty. Add your own CSS if you like */
.red {
  color: red; }

.green {
  color: green; }
.yellow {
  color: yellow; }

.newLine {
  white-space: pre-line;
}

.listColumn {
  float: left;
}
.listIndexColumn {
  width: 2em;
}

#content_title {
  margin: 5px;
  font-size: x-large;
}

.big {
	font-size: 125%;
}

.member_list {
	padding: 1px 100% 10px 0px;
}
